.main-container {
  display: none;
}

// Section styling
.examinr-section-next {
  margin-bottom: 2rem;
  float: right;
}

// Status bar
.examinr-exam-status {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  text-align: center;
  z-index: 100;

  .examinr-progress {
    display: none;
    margin: 0;
  }

  .examinr-timer span {
    &.ignore {
      opacity: 0.5;
    }

    &:after {
      content: ":";
      margin-right: 1px;
    }

    &.hrs:after {
      animation: examinr-blinkcolon 1s linear infinite alternate;
    }

    &.min.nosec:after,
    &.sec:after {
      content: "";
    }
  }
}

@keyframes examinr-blinkcolon {
  0% { opacity: 0; }
  15% { opacity: 0; }
  25% { opacity: 1; }
  100% { opacity: 1; }
}

// Exercise chunks
.examinr-exercise {
  .panel {
    border-radius: 0;
  }

  .panel-heading,
  .panel-footer .alert {
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 0;
    margin: 0;
  }
  .panel-heading .label {
    margin-left: 0.5rem;
  }

  .panel-body,
  .panel-footer {
    padding: 0;
  }
}

/* Recompute overal (showing a spinning wheel) */
.examinr-recompute-outer {
  position: relative;
  min-height: 100px;
}

.examinr-recompute-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: #000000;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

body > .examinr-recompute-overlay,
body > .examinr-recompute-overlay > .examinr-recompute {
  position: fixed;
}

.examinr-recompute {
  $spinner-size: 80px;
  $spinner-wheel-width: 10px;

  position: absolute;
  width: $spinner-size;
  height: $spinner-size;
  border-radius: 100%;
  top: 50%;
  left: 50%;

  &:before, &:after {
    content: "";
    position: absolute;
    top: -$spinner-size / 2;
    left: -$spinner-size / 2;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: $spinner-wheel-width solid transparent;
    border-top-color: #3498db;
  }

  &:before {
    z-index: 100;
    animation: examinr-spin 1s infinite;
  }

  &:after {
    border: $spinner-wheel-width solid #ccc;
  }
}

@keyframes examinr-spin {
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
